{% extends "base.html" %}
{% import "page.html" as page %}
{% block header_css %}
    <link href="{{ url_for('static',filename='css/ladda-themeless.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div id="page-wrapper" class="list">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header">
                       <i class="fa fa-home"></i> Docker管理 > Docker镜像管理
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Docker镜像列表
                            <button type="button" class="btn btn-primary btn-sm" style="float:right;margin-top:-5px" data-target=".add-dockerimage-modal" data-toggle="modal">添加Docker镜像</button>
                            <div class="modal fade add-dockerimage-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">添加Docker镜像</h4>
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="inputImageName" class="col-sm-3 control-label">Docker镜像名称</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="inputImageName" placeholder="Docker镜像名称" v-model="image_name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="inputImageTag">Docker镜像标签</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="inputImageTag" placeholder="Docker镜像标签" v-model="image_tag">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="inputImageID">Docker镜像ID</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="inputImageID" placeholder="Docker镜像ID" v-model="image_id">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Dockerfile选择</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" v-model="docker_file">
                                                            <option v-for="line in dockerfile_list" value="${line.id}" v-text="line.name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div style="color:red;text-align:center" v-if="errMsg" v-text="errMsg"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="button" class="btn btn-primary" @click="add_image()">添加</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form method="post" action="{{url_for('docker.dockerimage_list')}}">
                                <div class="col-md-4 pull-right" style="margin-right:-15px;margin-bottom:5px">
                                    <div class="input-group">
                                        <input type="text" name="search" class="form-control" placeholder="搜索" v-model="search"/>
                                        <span class="input-group-btn">
                                           <input type="submit" onclick="return check_search()" class="btn btn-info btn-search" value="搜索">
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>镜像名称</th>
                                            <th>镜像ID</th>
                                            <th>使用的Dockerfile</th>
                                            <th>创建人</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for image in dockerimages %}
                                        <tr>
                                            <td>{{image.id}}</td>
                                            <td>{{image.image_name}}:{{image.tag_name}}</td>
                                            <td>{{image.image_id}}</td>
                                            <td>{{image.dockerfile.name | default('-',true)}}</td>
                                            <td>{{image.creater}}</td>
                                            <td>{{image.create_time}}</td>
                                            <td><span class="label label-danger" @click="delete_image('{{image.id}}')">删除</span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if pagination %}
                                <div class="pagination" style="float:right">
                                    {{ page.pagination_widget(pagination,"docker.dockerimage_list") }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_js %}
    <script src="{{ url_for('static',filename='js/spin.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/ladda.min.js') }}"></script>
    <script>
        window.onload = function(){
            $('#docker_manage').collapse('show');
            load_dockerfile_list();
        };
        data = {
            search:'',
            images:'',
            image_name:'',
            image_tag:'',
            image_id:'',
            docker_file:'',
            dockerfile_list:'',
            errMsg:'',
        }
        function check_search(){
            if($.trim(data.search).length == 0){
                return false;
            }
        }
        new Vue({
            el: '.list',
            data: data,
            methods: {
                delete_image: function(image_id){
                    delete_image(image_id);
                },
                add_image: function(){
                    image_name = $.trim(this.image_name);
                    image_tag = $.trim(this.image_tag);
                    image_id = $.trim(this.image_id);
                    docker_file = $.trim(this.docker_file);
                    add_image(image_name,image_tag,image_id,docker_file);
                }
            }
        })
        function add_image(image_name,image_tag,image_id,docker_file){
            if(image_name.length == 0){
                data.errMsg = 'Docker镜像名不能为空！';
                return;
            }
            if(image_id.length == 0){
                data.errMsg = 'Docker镜像ID不能为空！';
                return;
            }
            commit_data = {
                'image_name':image_name,
                'image_tag':image_tag,
                "image_id":image_id,
                "docker_file":docker_file
            }
            $.ajax({
                url:"{{url_for('docker.dockerimage_list')}}",
                data:{'data':JSON.stringify(commit_data)},
                timeout:5000,
                type:'post',
                success:function(response){
                    if(response.result == 1){
                        swal({
                            "title": "成功",
                            "text": "添加成功！",
                            "type": "success"
                            }, function () {
                                setTimeout(function () {
                                    window.location.reload();
                            }, 50);
                        })
                    } else {
                        swal("添加失败","","error");
                    }
                }
            })
        }
        function delete_image(image_id){
            $.ajax({
                url:"{{url_for('docker.dockerimage_list')}}",
                data:{'id':image_id},
                timeout:5000,
                type:'post',
                success:function(response){
                    if(response.result == 1){
                        swal({
                            "title": "成功",
                            "text": "删除成功！",
                            "type": "success"
                            }, function () {
                                setTimeout(function () {
                                    window.location.reload();
                            }, 50);
                        })
                    } else {
                        swal("失败",response.errMsg,"error");
                    }
                }
            })
        }
        function load_dockerfile_list(){
            $.ajax({
                url:"{{url_for('docker.dockerfile_list')}}",
                data:{'type':'load_dockerfile_list'},
                timeout:5000,
                type:'post',
                success:function(response){
                    data.dockerfile_list = response;
                }
            })
        }
    </script>
{% endblock %}
