{% extends "base.html" %}
{% import "page.html" as page %}
{% block content %}
    <div id="page-wrapper" class="list">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header">
                       <i class="fa fa-home"></i> Docker管理 > Docker容器管理
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Docker容器列表
                            <button type="button" class="btn btn-primary btn-sm" style="float:right;margin-top:-5px" data-target=".create-dockercontainer-modal" data-toggle="modal">创建Docker容器</button>
                            <div class="modal fade create-dockercontainer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">创建Docker容器</h4>
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="inputName" class="col-sm-3 control-label">Docker容器名称</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="inputName" placeholder="Docker容器名称" v-model="container_name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Docker镜像选择</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" v-model="image_name">
                                                            <option v-for="line in image_list" value="${line.id}" v-text="line.image_name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">端口映射</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Docker宿主机端口" v-model="src_port">
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <input type="text" class="form-control" placeholder="Docker容器端口" v-model="dst_port">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputName" class="col-sm-3 control-label">数据卷</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="宿主机目录" v-model="host_dir">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="容器目录" v-model="container_dir">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" placeholder="模式(rw or ro)" v-model="model">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">数据卷容器</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" v-model="container_name2">
                                                            <option v-for="line in container_list" value="${line.id}" v-text="line.container_name"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div style="color:red;text-align:center" v-if="errMsg" v-text="errMsg"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="button" class="btn btn-primary" @click="create_container()">创建Docker容器</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form id="container_form">
                                <div class="col-sm-4 pull-right" style="margin-right:-15px;margin-bottom:5px">
                                    <div class="input-group">
                                        <input type="text" name="keyword" class="form-control" placeholder="搜索" value="{{keyword}}"/>
                                        <span class="input-group-btn">
                                            <button type="button" onclick="change_container()" class="btn btn-info btn-search">搜索</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2 pull-right">
                                    <select class="form-control" onchange="change_container()" name="is_online">
                                        <option value="">运行状态</option>
                                        {% for line in online_list %}
                                            {% if line == is_online %}
                                                <option value="{{line}}" selected>{{line}}</option>
                                            {% else %}
                                                <option value="{{line}}">{{line}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>容器名</th>
                                            <th>容器ID</th>
                                            <th>状态</th>
                                            <th>端口</th>
                                            <th>使用的镜像</th>
                                            <th>创建人</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for container in dockercontainers %}
                                        <tr>
                                            <td>{{container.id}}</td>
                                            <td><a @click="show_container_info_modal('{{container.container_id}}')">{{container.container_name}}</a></td>
                                            <td>{{container.container_id}}</td>
                                            <td v-if="'{{container.status}}'"><span class="label label-success">运行中</span></td>
                                            <td v-else><span class="label label-danger">已停止</span></td>
                                            <td>源:{{container.src_port | default('-',true)}}|目标:{{container.dst_port | default('-',true)}}</td>
                                            <td>{{container.image.image_name}}</td>
                                            <td>{{container.creater}}</td>
                                            <td>{{container.create_time}}</td>
                                            <td><span class="label label-primary" @click="show_create_image_modal('{{container.container_id}}')">创建镜像</span><span v-if="'{{container.status}}'" class="label label-warning" style="margin-left:5px" @click="show_stop_container_modal('{{container.container_id}}')">停止</span><span v-else class="label label-success" style="margin-left:5px">启动</span><span v-if="'{{container.status}}'" class="label label-success" style="margin-left:5px" @click="restart_container('{{container.container_id}}')">重启</span><span class="label label-danger" style="margin-left:5px" @click="show_delete_container_modal('{{container.container_id}}','{{container.status}}')">删除</span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if pagination %}
                                <div class="pagination" style="float:right">
                                    {{ page.pagination_widget(pagination,"docker.dockercontainer_list") }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade create-image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel2">创建Docker镜像</h4>
                        </div>
                        <form class="form-horizontal">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputImageName" class="col-sm-3 control-label">镜像名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputImageName" placeholder="镜像名称" v-model="image_name2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputMessage" class="col-sm-3 control-label">镜像说明</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputMessage" placeholder="镜像说明" v-model="message">
                                    </div>
                                </div>
                                <div style="color:red;text-align:center" v-if="errMsg2" v-text="errMsg2"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" @click="create_image()">创建</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade stop-container-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel3">请选择停止容器的方式</h4>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <button type="button" class="btn btn-warning" @click="stop_container(0)">正常停止</button><button type="button" class="btn btn-danger" style="margin-left:20px" @click="stop_container(1)">强制停止</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade delete-container-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel4">删除容器选项<span style="font-size:10px;color:red" v-show="container_status">（友情提示：该容器正在运行，点确定将会强行进行删除）</span></h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">是否删除与该容器相关的卷</label>
                                    <div class="col-sm-7">
                                        <label class="radio-inline" style="margin-left:10px">
                                            <input type="radio" name="is_delete_volume" value="1" v-model="is_delete_volume">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_delete_volume" value="0" v-model="is_delete_volume">否
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label">是否删除容器间的网络连接</label>
                                    <div class="col-sm-7">
                                        <label class="radio-inline" style="margin-left:10px">
                                            <input type="radio" name="is_delete_link" value="1" v-model="is_delete_link">是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="is_delete_link" value="0" v-model="is_delete_link">否
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" @click="delete_container()">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade show-container-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel5">查看容器日志和进程信息</h4>
                        </div>
                        <div class="modal-body">
                           <div class="panel-body">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#log" data-toggle="tab">查看日志</a></li>
                                    <li class=""><a href="#process" data-toggle="tab">查看进程</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="log">
                                        <div v-if="container_log_errMsg" v-text="container_log_errMsg"></div>
                                        <div v-if="!container_log_errMsg && (!container_log_list || container_log_list.length <= 1)">暂无日志....</div>
                                        <div v-else v-for="log in container_log_list" v-text="log"></div>
                                    </div>
                                    <div class="tab-pane fade" id="process">
                                        <div v-if="container_process_errMsg" v-text="container_process_errMsg"></div>
                                        <div v-if="!container_process_errMsg && (!container_process_list || container_process_list.length <= 1)">暂无进程....</div>
                                        <div v-else>
                                            <div>
                                                <span v-for="title in container_process_list.Titles"><strong>${title}</strong>,</span>
                                            </div>
                                            <div>
                                                <span v-for="process in container_process_list.Processes" v-text="process"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_js %}
    <script>
        window.onload = function(){
            $('#docker_manage').collapse('show');
            load_image_list();
            load_container_list();
        };
        data = {
            search:'',
            image_list:[],
            container_list:[],
            image_name:'',
            image_name2:'',
            message:'',
            container_id:'',
            container_id2:'',
            container_id3:'',
            container_name:'',
            container_name2:'',
            src_port:'',
            dst_port:'',
            host_dir:'',
            container_dir:'',
            errMsg:'',
            errMsg2:'',
            container_status:'',
            is_delete_volume:'0',
            is_delete_link:'0',
            container_log_list:'',
            container_process_list:'',
            container_log_errMsg:'',
            container_process_errMsg:'',
        }
        function check_search(){
            if($.trim(data.search).length == 0){
                return false;
            }
        }
        new Vue({
            el: '.list',
            data: data,
            methods: {
                create_container: function(){
                    container_name = $.trim(this.container_name);
                    image_name = $.trim(this.image_name);
                    src_port = $.trim(this.src_port);
                    dst_port = $.trim(this.dst_port);
                    host_dir = $.trim(this.host_dir);
                    container_dir = $.trim(this.container_dir);
                    model = $.trim(this.model);
                    container_name2 = $.trim(this.container_name2);
                    create_container(container_name,container_name2,image_name,src_port,dst_port,host_dir,container_dir,model);
                },
                show_create_image_modal: function(container_id){
                    $('.create-image-modal').modal('show');
                    this.container_id = container_id;
                },
                create_image: function(){
                    container_id = this.container_id;
                    image_name = $.trim(this.image_name2);
                    message = $.trim(this.message);
                    create_image(container_id,image_name,message);
                },
                show_stop_container_modal: function(container_id){
                    $('.stop-container-modal').modal('show');
                    this.container_id2 = container_id;
                },
                stop_container: function(force){
                    container_id = this.container_id2;
                    stop_container(container_id,force);
                },
                restart_container: function(container_id){
                    restart_container(container_id);
                },
                show_delete_container_modal: function(container_id,container_status){
                    this.container_id3 = container_id;
                    this.container_status = container_status;
                    $('.delete-container-modal').modal('show');
                },
                delete_container: function(){
                    delete_container(this.container_id3,this.is_delete_volume,this.is_delete_link);
                },
                show_container_info_modal: function(container_id){
                    $('.show-container-info-modal').modal('show');
                    show_container_info(container_id);
                }
            }
        })
        function show_container_info(container_id){
             $.ajax({
                url:"{{url_for('docker.dockercontainer_list')}}",
                data:{'type':'show_container_info','container_id':container_id},
                timeout:5000,
                type:'post',
                success:function(response){
                    data.container_log_list = '';
                    data.container_process_list = '';
                    data.container_log_errMsg = '';
                    data.container_process_errMsg = '';
                    if(response.result == -1){
                        data.container_log_errMsg = response.errMsg;
                        data.container_process_errMsg = response.errMsg;
                    } else {
                        data.container_log_list = response.log;
                        data.container_process_list = response.process;
                    }
                }
            })
        }
        function create_container(container_name,container_name2,image_name,src_port,dst_port,host_dir,container_dir,model){
            if(container_name.length == 0){
                data.errMsg = 'Docker容器名称不能为空！';
                return;
            }
            if(image_name.length == 0){
                data.errMsg = 'Docker镜像不能为空！';
                return;
            }
            commit_data = {
                "container_name": container_name,
                "container_name2": container_name2,
                "image_name": image_name,
                "src_port": src_port,
                "dst_port": dst_port,
                "host_dir": host_dir,
                "container_dir": container_dir,
                "model": model,
            }
            $.ajax({
                url:"{{url_for('docker.dockercontainer_list')}}",
                data:{'data':JSON.stringify(commit_data)},
                timeout:10000,
                type:'post',
                success: function(response){
                    if(response.result == 1){
                        swal({
                            "title": "创建成功",
                            "text": "",
                            "type": "success"
                            }, function () {
                                setTimeout(function () {
                                    window.location.reload();
                                }, 50);
                            }
                        )
                    } else {
                        swal( "创建失败",response.errMsg,"error");
                    }
                }
            })
        }
        function stop_container(container_id,force){
            $.ajax({
                url:"{{url_for('docker.dockercontainer_list')}}",
                data:{'container_id':container_id,'force':force},
                timeout:10000,
                type:'post',
                success: function(response){
                    if(response.result == 1){
                        swal({
                            "title": "停止成功",
                            "text": "",
                            "type": "success"
                            }, function () {
                                setTimeout(function () {
                                    window.location.reload();
                                }, 50);
                            }
                        )
                    } else {
                        swal( "停止失败",response.errMsg,"error");
                    }
                }
            })
        }
        function delete_container(container_id,is_delete_volume,is_delete_link){
            swal({
                title: "确定删除该容器吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                closeOnConfirm: false
            },
            function(isConfirm){
                if(isConfirm){
                    $.ajax({
                        url:"{{url_for('docker.dockercontainer_list')}}",
                        data:{'container_id':container_id,'is_delete_volume':is_delete_volume,'is_delete_link':is_delete_link},
                        timeout:10000,
                        type:'post',
                        success: function(response){
                            if(response.result == 1){
                                swal({
                                    "title": "删除成功",
                                    "text": "",
                                    "type": "success"
                                    }, function () {
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, 50);
                                    }
                                )
                            } else {
                                swal( "删除失败",response.errMsg,"error");
                            }
                        }
                    })
                }
            });
        }
        function restart_container(container_id){
            swal({
                title: "确定重启该容器吗？",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定",
                closeOnConfirm: false
            },
            function(isConfirm){
                if(isConfirm){
                    $.ajax({
                        url:"{{url_for('docker.dockercontainer_list')}}",
                        data:{'container_id':container_id,'type':'restart_container'},
                        timeout:10000,
                        type:'post',
                        success: function(response){
                            if(response.result == 1){
                                swal({
                                    "title": "重启成功",
                                    "text": "",
                                    "type": "success"
                                    }, function () {
                                        setTimeout(function () {
                                            window.location.reload();
                                        }, 50);
                                    }
                                )
                            } else {
                                swal( "重启失败",response.errMsg,"error");
                            }
                        }
                    })
                }
            });
        }
        function create_image(container_id,image_name,message){
            console.log(container_id,image_name,message);
            if(image_name.length == 0){
                data.errMsg2 = 'Docker镜像的名称不能为空！';
                return;
            };
            if(message.length == 0){
                data.errMsg2 = 'Docker镜像说明不能为空！';
                return;
            };
            $.ajax({
                url:"{{url_for('docker.dockercontainer_list')}}",
                data:{'container_id':container_id,'image_name':image_name,'message':message},
                timeout:10000,
                type:'post',
                success: function(response){
                    if(response.result == 1){
                        swal({
                            "title": "创建成功",
                            "text": "",
                            "type": "success"
                            }, function () {
                                setTimeout(function () {
                                    window.location.reload();
                                }, 50);
                            }
                        )
                    } else {
                        swal( "创建失败",response.errMsg,"error");
                    }
                }
            })
        }
        function load_image_list(){
            $.ajax({
                url:"{{url_for('docker.dockerimage_list')}}",
                data:{'type':'load_image_list'},
                timeout:5000,
                type:'post',
                success:function(response){
                    data.image_list = response;
                }
            })
        }
        function load_container_list(){
            $.ajax({
                url:"{{url_for('docker.dockercontainer_list')}}",
                data:{'type':'load_container_list'},
                timeout:5000,
                type:'post',
                success:function(response){
                    data.container_list = response;
                }
            })
        }
        function change_container(){
            var args = $('#container_form').serialize();
            window.location = "{{url_for('docker.dockercontainer_list')}}?" + args;
        }
    </script>
{% endblock %}
